<!doctype html>
<html ng-app="coffee">
  <head>
    <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <!-- JQuery, needed for MaterializeCSS -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!-- MaterializeCSS scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
    <script src="index.js"></script>

    <!-- Google Fonts, a wonderful thing -->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- MaterializeCSS stylesheets -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
    <link rel="stylesheet" href="index.css">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
    <main>
      <div class="container">

        <!-- Title -->
        <h2>Coffee Scheduler</h2>

        <!-- Angular Controller -->
        <div ng-controller="coffeeController as coffee">

          <!-- Add Coffee -->
          <form ng-submit="coffee.addCoffee()">
            <input type="submit" value="Add New Coffee">
          </form>

          <!-- List of Added Coffees -->
          <div ng-repeat="coffeeInstance in coffee.coffees">
            <hr>
            <label>Name: </label><input type="text" ng-model="coffeeInstance.name"><br>
            <label>Type: </label><input type="text" ng-model="coffeeInstance.type"><br>
            <label>Sugar: </label><input type="text" ng-model="coffeeInstance.sugar"><br>
            <label>Creamer: </label><input type="text" ng-model="coffeeInstance.creamer"><br>
            <form ng-submit="coffee.saveCoffee($index)">
              <input type="submit" value="Save">
            </form>
            <form ng-submit="coffee.removeCoffee($index)">
              <input type="submit" value="Delete">
            </form>
          </div>

          <!-- Line Break -->
          <hr>

          <!-- Add Schedule -->
          <form ng-submit="coffee.addSchedule()">
            <input type="submit" value="Add New Schedule">
          </form>

          <!-- List of Added Schedules -->
          <div ng-repeat="scheduleInstance in coffee.schedules">

            <!-- Line break -->
            <hr>

            <!-- Coffee instance to brew -->
            <input type="text" ng-model="scheduleInstance.coffee"/>

            <!-- Days of the week -->
            <span>
              <input type="checkbox" ng-model="scheduleInstance.sunday" id="schedule{{scheduleInstance.id}}_sunday"/>
              <label for="schedule{{scheduleInstance.id}}_sunday">Sunday</label>
            </span>
            <span>
              <input type="checkbox" ng-model="scheduleInstance.monday" id="schedule{{scheduleInstance.id}}_monday"/>
              <label for="schedule{{scheduleInstance.id}}_monday">Monday</label>
            </span>
            <span>
              <input type="checkbox" ng-model="scheduleInstance.tuesday" id="schedule{{scheduleInstance.id}}_tuesday"/>
              <label for="schedule{{scheduleInstance.id}}_tuesday">Tuesday</label>
            </span>
            <span>
              <input type="checkbox" ng-model="scheduleInstance.wednesday" id="schedule{{scheduleInstance.id}}_wednesday"/>
              <label for="schedule{{scheduleInstance.id}}_wednesday">Wednesday</label>
            </span>
            <span>
              <input type="checkbox" ng-model="scheduleInstance.thursday" id="schedule{{scheduleInstance.id}}_thursday"/>
              <label for="schedule{{scheduleInstance.id}}_thursday">Thursday</label>
            </span>
            <span>
              <input type="checkbox" ng-model="scheduleInstance.friday" id="schedule{{scheduleInstance.id}}_friday"/>
              <label for="schedule{{scheduleInstance.id}}_friday">Friday</label>
            </span>
            <span>
              <input type="checkbox" ng-model="scheduleInstance.saturday" id="schedule{{scheduleInstance.id}}_saturday"/>
              <label for="schedule{{scheduleInstance.id}}_saturday">Saturday</label>
            </span>

            <!-- Save schedule instance -->
            <form ng-submit="coffee.saveSchedule($index)">
              <input type="submit" value="Save">
            </form>

            <!-- Delete schedule instance -->
            <form ng-submit="coffee.removeSchedule($index)">
              <input type="submit" value="Delete">
            </form>

          </div>

          <!-- Line break -->
          <hr>

        </div>
      </div>
    </main>
  </body>
</html>
