<!doctype html>
<html ng-app="coffee">
  <head>
    <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <!-- JQuery, needed for MaterializeCSS -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!-- MaterializeCSS scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
    <script src="index.js"></script>

    <!-- Google Fonts, a wonderful thing -->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- MaterializeCSS stylesheets -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
    <link rel="stylesheet" href="index.css">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
    <main>
    <div id="container">
    <h2>Coffee Scheduler</h2>
    <div ng-controller="coffeeController as coffee">

      <!-- Add Coffee -->
      <form ng-submit="coffee.addCoffee()">
        <input type="submit" value="Add New Coffee">
      </form>

      <!-- List of Added Coffees -->
      <div ng-repeat="coffeeInstance in coffee.coffees">
        <hr>
        <label for="name">Name: </label><input type="text" name="name" ng-model="coffeeInstance.name"><br>
        <label for="name">Type: </label><input type="text" name="type" ng-model="coffeeInstance.type"><br>
        <label for="name">Sugar: </label><input type="text" name="sugar" ng-model="coffeeInstance.sugar"><br>
        <label for="name">Creamer: </label><input type="text" name="creamer" ng-model="coffeeInstance.creamer"><br>
        <form ng-submit="coffee.saveCoffee($index)">
          <input type="submit" value="Save">
        </form>
        <form ng-submit="coffee.removeCoffee($index)">
          <input type="submit" value="Delete">
        </form>
      </div>

      <!-- Line Break -->
      <hr>

      <!-- Add Schedule -->
      <form ng-submit="coffee.addSchedule()">
        <input type="submit" value="Add New Schedule">
      </form>

      <!-- List of Added Schedules -->
      <div ng-repeat="scheduleInstance in coffee.schedules">
        <hr>
        <input type="text" ng-model="scheduleInstance.name">
      </div>

    </div>
    </div>
    </main>
  </body>
</html>
